DB_CONNECTION=postgres
DB_HOST=idktd-db
DB_PORT=5432
DB_NAME=idktd_db
DB_USER=idktd
DB_PASSWORD=idktd

REDIS_HOST=idktd-redis
REDIS_PORT=6379

VAULT_TOKEN="myroot"
VAULT_PATH="/secret"
VAULT_ADDRESS="0.0.0.0:8200"
VAULT_ADDR="http://0.0.0.0:8200"

DB_SECURE_PATH="db"
REDIS_SECURE_PATH="redis"
